# Аттестация по курсу "Знакомство с языком Python"

## Задание

**Задача 44:** В ячейке ниже представлен код генерирующий *DataFrame*, которая состоит всего из 1 столбца. Ваша задача перевести его в *one hot* вид. Сможете ли вы это сделать без `get_dummies`?

In [2]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  human
3  human
4  human

## Решение

Для начала создадим копию датафрейма

In [3]:
data_copy = data.copy(deep = True)

Cоздадим список уникальных значений столбца `whoAmI`

In [4]:
lst_values = data_copy['whoAmI'].unique().tolist()
lst_values

['robot', 'human']

Создадим пустой результирующий датафрейм

In [5]:
one_hot_data = pd.DataFrame(columns = lst_values)
one_hot_data

Empty DataFrame
Columns: [robot, human]
Index: []

Проходим по всем строкам датафрейма `data`, формируем цифровую строку в зависимости от значения столбца `whoAmI` и добавляем ее в датафрейм `one_hot_data`

In [6]:
# вначале удалим все строки из датафрейма
# необходимо для повторных запускав ячейки
# что бы датафрейм создавался заново
one_hot_data.drop(one_hot_data.index, inplace = True) 

# собственно цикл создания one hot вида
for row in data['whoAmI']:
    if row == lst_values[0]:
        one_hot_data.loc[len(one_hot_data)] = [1, 0]
    else:
        one_hot_data.loc[len(one_hot_data)] = [0, 1]
one_hot_data

    robot  human
0       1      0
1       0      1
2       0      1
3       0      1
4       0      1
5       1      0
6       1      0
7       1      0
8       0      1
9       1      0
10      1      0
11      1      0
12      0      1
13      0      1
14      0      1
15      1      0
16      0      1
17      1      0
18      0      1
19      1      0

## Выводы

1. В результате проделанной работы создан датафрейм в `one hot` виде, где `human` обозначен цифрой 1, а `robot` - цифрой 0
2. Преобразование выполнено без использования функции `get_dummies`